@font-face {
    font-family: 'Doppio One';
    font-style: normal;
    font-weight: 400;
    src: local('Doppio One Regular'), local('DoppioOne-Regular'), url(fonts/doppioone.woff) format('woff');
}

@font-face {
    font-family: 'Cloister Black';
    src: url(fonts/cloisterblack.ttf);
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: url(images/u7background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: normal normal 400 1em 'Doppio One', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid {
    float: left;
    padding: 1em;
    width: 100%;
}

.half {
    float: left;
    width: 50%;
}

.quarter {
    float: left;
    width: 50%;
}

.inner-view {
    background: rgba(0, 0, 0, .6);
    border-radius: .75em;
    margin-bottom: 1em;
    padding: .75em;
    position: relative;
}


.btn {
    box-shadow: 1px 1px 2px #000;
    clear: left;
    float: left;
    margin: 1.125em;
    outline: none;
    width: 50px;
}

/** Default Buttons **/
.btn:active {
    position: relative;
    left: 1px;
    top: 1px;
}

.btn-red {
    background: #DE1327;
    border-top: 2px solid #FE374C;
    border-right: 2px solid #FE374C;
    border-bottom: 2px solid #8A030A;
    border-left: 2px solid #8A030A;
}

.btn-red:active {
    border-top: 2px solid #8A030A;
    border-right: 2px solid #8A030A;
    border-bottom: 2px solid #FE374C;
    border-left: 2px solid #FE374C;
}

.btn-green {
    background: #13DE13;
    border-top: 2px solid #37FE3F;
    border-right: 2px solid #37FE3F;
    border-bottom: 2px solid #038A13;
    border-left: 2px solid #038A13;
}

.btn-green:active {
    border-top: 2px solid #038A13;
    border-right: 2px solid #038A13;
    border-bottom: 2px solid #37FE3F;
    border-left: 2px solid #37FE3F;
}

/** Specific Elements **/
#wrapper {
    background: url(images/u7background-blured.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    max-width: 65em;
    min-height: 600px;
    min-width: 55em;
    width: 80vw;
}

#memberChooser .inner-view {
    padding: 0.5em;
    text-align: center;
}

#memberChooser label {
    color: #EBEB00;
    font: 1.75em 'Cloister Black', serif;
    text-shadow: 0.0625em 0.0625em #000;
}

#memberChooser select {
    background: transparent;
    border: none;
    color: #EBEB00;
    font: 1.75em 'Cloister Black', serif;
    text-shadow: 0.0625em 0.0625em #000;
}

#memberChooser option {
    background: #C0C0C0;
    color: #222;
}

#member .portrait {
    float: left;
    width: 5.25em;
}

#member .statbox {
    background: #754404;
    border-radius: 0.1875em;
    font-size: 1.5em;
    margin: 0 0 0 4em;
    padding: 0.25em;
}

#member .statbox .stat {
    background: #7D6559;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    min-height: 1.4em;
    padding: 0 0.625em;
    position: relative;
}

#member .statbox .stat:first-of-type {
    border-top: 1px solid #333;
}

#member .statbox .stat:last-of-type {
    border-bottom: 1px solid #333;
}

#member .statbox .break {
    border-bottom: 1px solid #333;
    margin-bottom: 0.25em;
}

#member .statbox .break + .stat  {
    border-top: 1px solid #333;
}

#member .statbox .valueChanger {
    position: absolute;
    right: 0.5em;
    user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
}

#member .statbox .valueChanger input {
    background: inherit;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 3em;
}

#member .statbox .valueChanger span {
    cursor: pointer;
    cursor: hand;
}

#member .statbox .valueChanger span:hover {
    color: #EBEB00;
}

#member .statbox .valueChanger .disabled {
    color: #7D6559;
}

#member .statbox .valueChanger .disabled:hover {
    color: #7D6559;
    cursor: default;
}

#memberList img {
    border: 1px solid white;
}


#trainerSelect #trainers {
    background: #754404;
    border-radius: 0.1875em;
    padding: 0.5em;
}

#trainerSelect table {
    border-collapse: collapse;
    width: 100%;
}

#trainerSelect thead th {
    cursor: pointer;
}

#trainerSelect tbody tr {
    background: #8B7366;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

#trainerSelect tbody tr:nth-child(odd) {
    background: #7D6559;
    border: 1px solid #333;
}

#trainerSelect tbody tr:last-of-type {
    border-bottom: 1px solid #333;
}

#trainerSelect tbody tr:hover {
    background: rgba(255, 255, 255, 0.50);
}

#trainerSelect td {
    text-align: center;
    padding: 0.125em 0;
}

#trainerSelect td:nth-child(1),
#trainerSelect th:nth-child(1) {
    text-align: left;
}


/* tables */


table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}



#notfooter {
    height: 100%;
    margin: 0 0 -50px 0;
    min-height: 630px;
}

footer {
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    color: #fefefe;
    height: 50px;
    padding: .125em;
}