<!DOCTYPE html>
<html>
<head>
    <title>Ultima VII - Trainer</title>
    <link rel="stylesheet" href="css/default.css">
    <script src="libs/jquery-2.0.3.min.js"></script>
    <script src="libs/underscore-1.5.2.min.js"></script>
    <script src="libs/backbone-1.1.0.min.js"></script>
    <script src="libs/jquery.tablesorter.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="notfooter">
            <div id="memberView" class="grid half">
                <div id="memberChooser"></div>
                <div id="member"></div>
                <div id="memberList"></div>
            </div>
            
            <div id="trainView" class="grid half">
                <div id="trainerSelect"></div>
                <div id="trainerList"></div>
                <div id="map"></div>
            </div>
        </div>
        <footer></footer>
    </div>
    
    <script type="text/html" id="memberChooser-view">
        <div class="inner-view">
            <label>Choose Party Member:</label>
            <select>
                <option value="Avatar" selected>Avatar</option>
                <option value="Dupre">Dupre</option>
                <option value="Iolo">Iolo</option>
                <option value="Jaana">Jaana</option>
                <option value="Julia">Julia</option>
                <option value="Katrina">Katrina</option>
                <option value="Sentri">Sentri</option>
                <option value="Shamino">Shamino</option>
                <option value="Spark">Spark</option>
                <option value="Tseramed">Tseramed</option>
            </select>
        </div>
    </script>
    
    <script type="text/html" id="member-view">
        <div class="inner-view">
            <img class="portrait" src="images/<%= character.get("name").toLowerCase() %>.png" alt="<%= character.get("name") %>" />
            <a title="Reset this character back to start values."><input type="reset" id="reset" class="btn btn-red" /></a>
            <div class="statbox">
                <div class="stat">
                    <label>Strength:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("strength") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="strength" value="<%= character.get("strength") %>" />
                        <span class="increment <% if(character.rangeCheck("strength") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Dexterity:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("dexterity") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="dexterity" value="<%= character.get("dexterity") %>" />
                        <span class="increment <% if(character.rangeCheck("dexterity") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Intelligence:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("intelligence") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="intelligence" value="<%= character.get("intelligence") %>" />
                        <span class="increment <% if(character.rangeCheck("intelligence") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Combat:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("combat") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="combat" value="<%= character.get("combat") %>" />
                        <span class="increment <% if(character.rangeCheck("combat") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Magic:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("magic") === "lb"){ %>disabled<% } %>">-</span>
                        <input type="text" id="magic" value="<%= character.get("magic") %>" />
                        <span class="increment <% if(character.rangeCheck("magic") === "ub"){ %>disabled<% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Hits:</label>
                    <span class="valueChanger">
                        <span class="decrement disabled">-</span>
                        <input type="text" id="hits" value="<%= character.get("hits") %>" />
                        <span class="increment disabled">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Mana:</label>
                    <span class="valueChanger">
                        <span class="decrement disabled">-</span>
                        <input type="text" id="mana" value="<%= character.get("mana") %>" />
                        <span class="increment disabled">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Exp:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("exp") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="exp" value="<%= character.get("exp") %>" <% if(character.get("level") > 8) { %> style="width: 4.25em;" <% } %> />
                        <span class="increment <% if(character.rangeCheck("exp") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Level:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("level") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="level" value="<%= character.get("level") %>" />
                        <span class="increment <% if(character.rangeCheck("level") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Training:</label>
                    <span class="valueChanger">
                        <span class="decrement">-</span>
                        <input type="text" id="training" value="<%= character.get("training") %>" />
                        <span class="increment">+</span>
                    </span>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/html" id="memberList-view">
        <div class="inner-view">
            <img src="images/avatar-shape.png" />
        </div>
    </script>
    
    <script type="text/html" id="trainerSelect-view">
        <div class="inner-view">
            <div id="trainers">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>str</th>
                            <th>dex</th>
                            <th>int</th>
                            <th>com</th>
                            <th>mag</th>
                            <th>cost</th>
                            <th>points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(trainers, function(trainer) { %>
                            <tr id="<%= trainer.name %>">
                                <td><%= trainer.name.split("-")[0] %></td>
                                <td><%= trainer.strength %></td>
                                <td><%= trainer.dexterity %></td>
                                <td><%= trainer.intelligence %></td>
                                <td><%= trainer.combat %></td>
                                <td><%= trainer.magic %></td>
                                <td><%= trainer.cost %></td>
                                <td><%= trainer.train %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    
    
    
    <script type="text/html" id="trainerList-view">
        <div class="inner-view">
            something
        </div>
    </script>
    
    <script type="text/html" id="map-view">
        <div class="inner-view">
            something
        </div>
    </script>
        
    <script src="app/main.js"></script>
    <script src="app/partymembers.js"></script>
    <script src="app/trainers.js"></script>
</body>
</html>