<!DOCTYPE html>
<html>
<head>
    <title>Ultima VII Party Planner</title>
    <link rel="stylesheet" href="css/default.css">
    <script src="libs/jquery-2.0.3.min.js"></script>
    <script src="libs/underscore-1.5.2.min.js"></script>
    <script src="libs/backbone-1.1.0.min.js"></script>
    <script src="libs/jquery.tablesorter.min.js"></script>
    <script src="libs/konami.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="notfooter">
            <h1><img src="images/ultima-7.png" alt="Ultima VII"><span>Party Planner</span></h1>
            <div id="left" class="grid half">
                <div id="chooseMember">
                    <div class="inner-view">
                        <h2 class="tooltip" 
                            help="Selecting a party member will add them to your party. They can be 
                            dismissed by right clicking on them in the 'Current Party' box below.">
                            Choose Party Member:
                        </h2>
                        <select>
                            <option value="Avatar" selected>Avatar</option>
                            <option value="Dupre">Dupre</option>
                            <option value="Iolo">Iolo</option>
                            <option value="Jaana">Jaana</option>
                            <option value="Julia">Julia</option>
                            <option value="Katrina">Katrina</option>
                            <option value="Sentri">Sentri</option>
                            <option value="Shamino">Shamino</option>
                            <option value="Spark">Spark</option>
                            <option value="Tseramed">Tseramed</option>
                        </select>
                    </div>
                </div>
                <div id="member"></div>
                <div id="currentParty"></div>
                <div id="trainerChecklist"></div>
            </div>
            
            <div id="right" class="grid half">
                <div id="selectTrainer"></div>
                <div id="map">
                    <div class="inner-view">
                        <h2 class="tooltip" help="Where to go.">
                            Map
                        </h2>
                        <div id="locater">
                            <img id="mapimg" src="images/map-cloth.png" alt="map" />
                            <canvas id="dots" />
                        </div>
                        <input type="button" id="swapMap" class="btn btn-green" value="Switch Map" />
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <a href="#">About</a>
            <a href="#">Source</a>
            <a href="#">Credits</a>
        </footer>
    </div>
    
    <script type="text/html" id="member-view">
        <div class="inner-view">
            <img class="portrait" src="images/<%= character.get("name").toLowerCase() %>.png" 
            alt="<%= character.get("name") %>" />
            <a title="Reset this character back to start values.">
                <input type="reset" id="reset" class="btn btn-red tooltil" />
            </a>
            <div class="statbox">
                <div class="stat">
                    <label>Strength:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("strength") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="strength" value="<%= character.get("strength") %>" />
                        <span class="increment <% if(character.rangeCheck("strength") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Dexterity:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("dexterity") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="dexterity" value="<%= character.get("dexterity") %>" />
                        <span class="increment <% if(character.rangeCheck("dexterity") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Intelligence:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("intelligence") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="intelligence" value="<%= character.get("intelligence") %>" />
                        <span class="increment <% if(character.rangeCheck("intelligence") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Combat:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("combat") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="combat" value="<%= character.get("combat") %>" />
                        <span class="increment <% if(character.rangeCheck("combat") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Magic:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("magic") === "lb"){ %>disabled<% } %>">-</span>
                        <input type="text" id="magic" value="<%= character.get("magic") %>" />
                        <span class="increment <% if(character.rangeCheck("magic") === "ub"){ %>disabled<% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Hits:</label>
                    <span class="valueChanger">
                        <span class="decrement disabled">-</span>
                        <input type="text" id="hits" value="<%= character.get("hits") %>" />
                        <span class="increment disabled">+</span>
                    </span>
                </div>
                <div class="stat break">
                    <label>Mana:</label>
                    <span class="valueChanger">
                        <span class="decrement disabled">-</span>
                        <input type="text" id="mana" value="<%= character.get("mana") %>" />
                        <span class="increment disabled">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Exp:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("exp") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="exp" value="<%= character.get("exp") %>" <% if(character.get("level") > 8) { %> style="width: 4.25em;" <% } %> />
                        <span class="increment <% if(character.rangeCheck("exp") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Level:</label>
                    <span class="valueChanger">
                        <span class="decrement <% if(character.rangeCheck("level") === "lb"){ %> disabled <% } %>">-</span>
                        <input type="text" id="level" value="<%= character.get("level") %>" />
                        <span class="increment <% if(character.rangeCheck("level") === "ub"){ %> disabled <% } %>">+</span>
                    </span>
                </div>
                <div class="stat">
                    <label>Training:</label>
                    <span class="valueChanger">
                        <span class="decrement">-</span>
                        <input type="text" id="training" value="<%= character.get("training") %>" />
                        <span class="increment">+</span>
                    </span>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/html" id="currentParty-view">
        <div class="inner-view">
            <h2 class="tooltip" 
                help="Represents selected party members to train. Right click on a member to dismiss.">
                Current Party
            </h2>
            <% _.each(party, function(member) { %>
                <a title="<%= member.name %>">
                    <img id="<%= member.name %>" src="images/<%= member.name.toLowerCase() %>-shape.png" />
                </a>
            <% }); %>
        </div>
    </script>
    
    <script type="text/html" id="selectTrainer-view">
        <div class="inner-view">
            <h2 class="tooltip" help="Click to train. Right click to untrain. This will update stats for selected party member and add the trainer to the list of trainers to visit.">
            Select Trainers</h2>
            <div id="trainers">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>str</th>
                            <th>dex</th>
                            <th>int</th>
                            <th>com</th>
                            <th>mag</th>
                            <th>points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(trainers, function(trainer) { %>
                            <tr id="trainer-<%= trainer.id %>"
                            <% if(_.include(who, trainer.name)) { %>
                                class="trained"
                            <% } %>
                            
                            >
                                <td><%= trainer.name.split(" - ")[0] %></td>
                                <td>
                                    <% if(trainer.strength != 0) { %>
                                        <%= trainer.strength %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(trainer.dexterity != 0) { %>
                                        <%= trainer.dexterity %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(trainer.intelligence != 0) { %>
                                        <%= trainer.intelligence %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(trainer.combat != 0) { %>
                                        <%= trainer.combat %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(trainer.magic != 0) { %>
                                        <%= trainer.magic %>
                                    <% } %>
                                </td>
                                <td><%= trainer.train %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    
    
    
    <script type="text/html" id="trainerChecklist-view">
        <div class="inner-view">
            <h2 class="tooltip" 
                help="List of trainers to visit, who to train when you get there, and how much gold
                to take.">
                Trainer Checklist
            </h2>
            <% if(_.size(checklist) > 0) { %>
            <p>Total Training Cost: <%= trainingCost.total %></p>
                <dl>
                <% _.each(checklist, function(member, trainer) { %>
                    <dt>
                        <a title="List of party members to train with <%= trainer %>.">
                            <%= trainer %>
                        </a>
                        <a title="Total cost to train at this stop.">
                            <span class="light">Cost: <%= trainingCost[trainer] %></span>
                        </a>
                    </dt>
                    <% _.each(member, function(times, name) {
                           if(times === 1) { %>
                               <dd><%= name %></dd>
                        <% } else { %>
                               <dd><%= name %> <span class="light">x<%= times %></span></dd>
                        <% } %>
                    <% }); %>
                    <div class=break></div>
                <% }); %>
                </dl>
            <% } %>
        </div>
    </script>
    
    <!--core app scripts-->
    <script src="app/models.js"></script>       <!--backbone models and collections-->
    <script src="app/views.js"></script>        <!--backbone views-->
    <script src="app/partymembers.js"></script> <!--Instantiate potential party members models-->
    <script src="app/trainers.js"></script>     <!--JSON of trainers-->
    <script src="app/main.js"></script>         <!--Run on document ready-->
</body>
</html>